@model List<BANQUANAO.Models.ListProductBill>
@{
    ViewBag.Title = "Sản phẩm khách đặt";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="container" style="margin-top:5vh;margin-bottom:1vh; height:40vh">
    <h3 class="text-center">Sản phẩm khách đặt</h3>
    <table class="table mt-1" style="margin-top:3vh">
        <thead>
            <tr>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Tên khách hàng</th>

                <th scope="col">Số lượng</th>
                <th scope="col">Size</th>
                <th scope="col">Màu</th>
                <th scope="col">Giá</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
               
                    <tr>
                        <th scope="row">@item.nameProduct</th>
                        <td>@item.Users.FullName</td>
                        <td>@item.Amount</td>
                        <td>@item.sizeProduct</td>
                        <td>@item.colorProduct</td>
                        <td>@item.priceProduct.ToString("#,##0").Replace(',', '.') VNĐ</td>

                    </tr>
                }

            


        </tbody>
    </table>
</div>

