@model BANQUANAO.Models.Users

@{
    ViewBag.Title = "Sửa người dùng";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div style="width:100%;height:100vh">
    <div class="container mt-5 mb-10">
        <h3>Sửa người dùng</h3>
        <form action="/admin/EditUsers/@Model.ID" method="post" enctype="multipart/form-data">
            <input type="hidden" id="ID" name="ID" class="form-control" value="@Model.ID" />

            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="nameProduct">Họ và tên</label>

                        <input type="text" id="FullName" name="FullName" class="form-control" value="@Model.FullName" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="priceProduct">Email</label>

                        <input type="text" id="Email" name="Email" class="form-control" value="@Model.Email" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="nameProduct">Số điện thoại</label>

                        <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" value="@Model.phoneNumber" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="priceProduct">Địa chỉ</label>

                        <input type="text" id="Andreas" name="Andreas" class="form-control" value="@Model.Andreas" />
                    </div>
                </div>
            </div>

            <input type="hidden" value="@Model.UserName" id="UserName" name="UserName" class="form-control form-control-lg" style="border:1px solid gray" />
            <hr />
            <div class="mb-3">
                <label for="Type" class="form-label">Loại tài khoản</label>
                <select class="form-select"
                        id="Role"
                        name="Role">
                        
                    <option value="Admin">Admin</option>
                    <option value="">Khách hàng</option>
                </select>
            </div>
            <h5 class="modal-title" id="exampleModalLabel" style="margin-bottom:5vh">Ảnh đại diện</h5>

            <!-- Text input -->
            <div class="form-outline mb-4">
                <label>Avatar</label>
                <input type="file" class="form-control" id="Avatar" name="Avatar" value="@Model.Avatar" accept="image/*">
            </div>


            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Sửa tài khoản</button>
        </form>
    </div>
</div>

